In [9]:
import os
import pandas as pd
from tqdm import tqdm
pd.set_option('display.max_columns', None) # para poder visualizar todas las columnas de los DataFrames
import warnings
warnings.filterwarnings("ignore")
import zipfile
import shutil
import re
import sys
import json
sys.path.append("../")
from src import soporte_analisis as st

In [41]:
try:
    df = pd.read_csv('datos/scrap/03001.csv', encoding='latin1', sep=';')

except UnicodeDecodeError: 
    df = pd.read_csv('datos/scrap/03001.csv', encoding='utf-8', errors='ignore')
    df['Total'] = df['Total'].str.replace('.','').astype(int)

In [50]:
try:
    df_pib = pd.read_csv('datos/scrap/67284.csv', encoding='latin1', sep=';')

except UnicodeDecodeError: 
   df_pib = pd.read_csv('datos/scrap/67284.csv', encoding='utf-8', errors='ignore')
   
df_pib ['Total'] = df_pib['Total'].str.replace('.','').astype(int)
df_pib ['periodo'] = df_pib['periodo'].str.replace('(P)','')

In [52]:
try:
    df_tot = pd.read_csv('datos/scrap/67285 (2).csv', encoding='latin1', sep=';')

except UnicodeDecodeError: 
   df_tot = pd.read_csv('datos/scrap/67285 (2).csv', encoding='utf-8', errors='ignore')

In [59]:
df_tot.head(2)

,Provincias,Ramas de actividad,Magnitud,periodo,Total
0,02 Albacete,TOTAL PERSONAS,Empleo total (miles de personas),2021(P),"150,2"
1,02 Albacete,TOTAL PERSONAS,Empleo total (miles de personas),2020,"147,1"

In [67]:
df_tot['Total'].unique()
df_tot['periodo'] = df_tot['periodo'].str.replace('(P)','')
df_tot['Total'] = df_tot['Total'].str.replace(',','.')

In [70]:
df_tot['Total'] = df_tot['Total'].astype(float)

ValueError: could not convert string to float: '2.695.2'

In [55]:
df_tot

,Provincias,Ramas de actividad,Magnitud,periodo,Total
0,02 Albacete,TOTAL PERSONAS,Empleo total (miles de personas),2021(P),"150,2"
1,02 Albacete,TOTAL PERSONAS,Empleo total (miles de personas),2020,"147,1"
2,03 Alicante/Alacant,TOTAL PERSONAS,Empleo total (miles de personas),2021(P),"686,9"
3,03 Alicante/Alacant,TOTAL PERSONAS,Empleo total (miles de personas),2020,"666,3"
4,04 Almería,TOTAL PERSONAS,Empleo total (miles de personas),2021(P),"287,3"
...,...,...,...,...,...
99,50 Zaragoza,TOTAL PERSONAS,Empleo total (miles de personas),2020,"440,5"
100,51 Ceuta,TOTAL PERSONAS,Empleo total (miles de personas),2021(P),"31,7"
101,51 Ceuta,TOTAL PERSONAS,Empleo total (miles de personas),2020,"30,9"
102,52 Melilla,TOTAL PERSONAS,Empleo total (miles de personas),2021(P),"31,0"
103,52 Melilla,TOTAL PERSONAS,Empleo total (miles de personas),2020,"30,1"